In [63]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, cross_validation, svm

In [168]:
df = pd.read_csv('CSVs/QBStats_2010.csv')
df2 = pd.read_csv('CSVs/QBStats_2011.csv')
df3 = pd.read_csv('CSVs/QBStats_2012.csv')
df4 = pd.read_csv('CSVs/QBStats_2013.csv')
df5 = pd.read_csv('CSVs/QBStats_2014.csv')
df6 = pd.read_csv('CSVs/QBStats_2015.csv')
df7 = pd.read_csv('CSVs/QBStats_2016.csv')

df = df.append(df2)
df = df.append(df3)
df = df.append(df4)
df = df.append(df5)
df = df.append(df6)
df = df.append(df7)

In [169]:
df.head(10)

,qb,att,cmp,yds,ypa,td,int,lg,sack,loss,rate,game_points,home_away,year
0,Brett FavreB. Favre,27,15,171,6.3,1,1,33,1,9,71.7,9,away,2010
1,Drew BreesD. Brees,36,27,237,6.6,1,0,29t,1,8,101.3,14,home,2010
2,Chad HenneC. Henne,34,21,182,5.4,0,0,21,3,18,75.9,15,away,2010
3,Trent EdwardsT. Edwards,34,18,139,4.1,1,0,31t,3,23,73.0,10,home,2010
4,Matt RyanM. Ryan,44,27,252,5.7,0,1,23,2,15,67.6,9,away,2010
5,Dennis DixonD. Dixon,26,18,236,9.1,0,1,52,3,25,81.6,15,home,2010
6,Kyle OrtonK. Orton,33,21,295,8.9,1,1,41,3,21,89.8,17,away,2010
7,David GarrardD. Garrard,21,16,170,8.1,3,0,26,1,5,138.9,24,home,2010
8,Peyton ManningP. Manning,57,40,433,7.6,3,0,73t,2,14,109.8,24,away,2010
9,Matt SchaubM. Schaub,17,9,107,6.3,1,1,23,2,9,67.5,34,home,2010

In [170]:
df.drop(['qb'], 1, inplace=True)
df.drop(['lg'], 1, inplace=True)

df.head(10)

   att  cmp  yds  ypa  td  int  sack  loss   rate  game_points home_away  year
0   27   15  171  6.3   1    1     1     9   71.7            9      away  2010
1   36   27  237  6.6   1    0     1     8  101.3           14      home  2010
2   34   21  182  5.4   0    0     3    18   75.9           15      away  2010
3   34   18  139  4.1   1    0     3    23   73.0           10      home  2010
4   44   27  252  5.7   0    1     2    15   67.6            9      away  2010
5   26   18  236  9.1   0    1     3    25   81.6           15      home  2010
6   33   21  295  8.9   1    1     3    21   89.8           17      away  2010
7   21   16  170  8.1   3    0     1     5  138.9           24      home  2010
8   57   40  433  7.6   3    0     2    14  109.8           24      away  2010
9   17    9  107  6.3   1    1     2     9   67.5           34      home  2010

In [171]:
dictMane = {'away': int(0), 'home': int(1)}

df['home_away'] = df['home_away'].map(dictMane)

In [172]:
df.head(10)

,att,cmp,yds,ypa,td,int,sack,loss,rate,game_points,home_away,year
0,27,15,171,6.3,1,1,1,9,71.7,9,0,2010
1,36,27,237,6.6,1,0,1,8,101.3,14,1,2010
2,34,21,182,5.4,0,0,3,18,75.9,15,0,2010
3,34,18,139,4.1,1,0,3,23,73.0,10,1,2010
4,44,27,252,5.7,0,1,2,15,67.6,9,0,2010
5,26,18,236,9.1,0,1,3,25,81.6,15,1,2010
6,33,21,295,8.9,1,1,3,21,89.8,17,0,2010
7,21,16,170,8.1,3,0,1,5,138.9,24,1,2010
8,57,40,433,7.6,3,0,2,14,109.8,24,0,2010
9,17,9,107,6.3,1,1,2,9,67.5,34,1,2010

In [196]:
# Only using QB rating because all of the other factors such as attempts, completions, total yards, yards per attempt, 
# touchdowns, interceptions, etc. are taken into account to get the final QB rating.
X = np.array(df['rate'])
y = np.array(df['home_away'])

In [197]:
#X

In [206]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2)

In [207]:
real_x_train = X_train.reshape(-1, 1)
real_x_test = X_test.reshape(-1, 1)

In [208]:
clf = svm.SVC()
clf.fit(real_x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [209]:
accuracy = clf.score(real_x_test, y_test)
print(accuracy)

0.5129411764705882

Accuracy is 52.15% so it doesn't look like there is a direct correlation between QB rating of the game VS if the game was played in the home field or away. Probability is basically like flipping a coin!

In [190]:
def prettyPrintNumpyArr(numpyArr):
    if(numpyArr[0] == 0):
        print("Away")
    else:
        print("Home")

In [210]:
# prediction1 = clf.predict(150.2)
prettyPrintNumpyArr(clf.predict(150.2))

Home

In [211]:
prettyPrintNumpyArr(clf.predict(20))

Away

In [212]:
prettyPrintNumpyArr(clf.predict(40.6))

Away

In [213]:
prettyPrintNumpyArr(clf.predict(100.7))

Home

In [215]:
prettyPrintNumpyArr(clf.predict(89.22))

Home

In [216]:
prettyPrintNumpyArr(clf.predict(87.22))

Away